name: Check

on: [push, pull_request]

jobs:
  publiccode_validation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: italia/publiccode-parser-action@v1
        with:
          publiccode: "publiccode.yml"
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt
      - name: stop the build if there are Python syntax errors or undefined names
        run: |
          flake8 ./satosa_oidcop  --count --select=E9,F63,F7,F82 --show-source --statistics
      - name: Lint with flake8
        run: |
          flake8 ./satosa_oidcop --count --exit-zero --statistics
  pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install MongoDB
        run: |
          sudo apt-get install -y gnupg wget
          sudo wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | sudo apt-key add -
          sudo echo "deb http://repo.mongodb.org/apt/debian buster/mongodb-org/4.4 main" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.4.list
          sudo apt-get update
          sudo apt-get install -y mongodb-org
      - name: Start MongoDB
        run: sudo systemctl start mongod

      - name: Install python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements-dev.txt

      - name: Install satosa_oidcop
        run: |
          python -m pip install -e .
      - name: pytest
        run: |
          pytest --cov=satosa_oidcop -v --cov-report term --cov-fail-under=90 tests/
