# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: satosa_oidcop

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.8'
          - '3.9'

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install MongoDB
      run: |
        sudo apt-get install -y gnupg wget
        sudo wget -qO - https://www.mongodb.org/static/pgp/server-4.4.asc | sudo apt-key add -
        sudo echo "deb http://repo.mongodb.org/apt/debian buster/mongodb-org/4.4 main" | sudo tee /etc/apt/sources.list.d/mongodb-org-4.4.list
        sudo apt-get update
        sudo apt-get install -y mongodb-org
    - name: Start MongoDB
      run: sudo systemctl start mongod

    - name: Install python dependencies
      run: |
        # sudo apt-get update && sudo apt-get install xmlsec1
        python -m pip install --upgrade pip
        python -m pip install --upgrade pip pytest setuptools codecov flake8

    - name: Install satosa_oidcop
      run: |
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
        pip install satosa_oidcop
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 ./satosa_oidcop  --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 ./satosa_oidcop --count --exit-zero --statistics --max-line-length 120
    - name: pytest
      run: |
        pytest --cov=satosa_oidcop -v --cov-report term --cov-fail-under=90 tests/
    #- name: Upload coverage to Codecov
      #uses: codecov/codecov-action@v1
      #with:
        #token: ${{ secrets.CODECOV_TOKEN }}
        #file: example/coverage.xml
        #flags: unittests
        #env_vars: OS,PYTHON
        #name: codecov-umbrella
        #fail_ci_if_error: true
        #path_to_write_report: ./codecov_report.txt
        # verbose: true
    #- name: Bandit Security Scan
      #run: |
        #bandit -r -x tests.py,src/cms/api/tests src/cms/*
